:root{
  --darkGrey: #151515;
  --lightgrey: #272727;
  --brightGrey: #999;
  --yellow: #EDEC51;
  --black: #000000;
  --white: #ffffff;
}

/*--------------------------FONTS*/
@font-face {
  font-family: 'starjedi';
  src: url('fonts/starjedi.woff2') format('woff2'),
       url('fonts/starjedi.woff') format('woff');
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-regular.woff2') format('woff2'),
       url('fonts/montserrat-regular.woff') format('woff');
}

h1, h2, h3, h4, h5, h6, .jediFont {
  font-family: 'starjedi';
}

p, a, span, li, button, figcaption, body {
  font-family: 'montserrat';
}

/*--------------------------COLOR CLASS*/
.txt-white { color: var(--white);}
.txt-yellow { color: var(--yellow);}
.txt-darkGrey { color: var(--darkGrey);}
.txt-lightGrey { color: var(--lightgrey);}
.txt-brightGrey { color: var(--brightGrey);}

.bg-noir { background-color: var(--black);}
.bg-darkGrey { background-color: var(--darkGrey);}
.bg-lightGrey { background-color: var(--lightgrey);}
.bg-yellow { background-color: var(--yellow);}

/*---------------------------HEIGHT SIZING MAIN ELEMENTS*/
/*for smartphones*/
body, #root, #container{
  min-height: 100vh;
  height: 100%;
}

/*When width larger than height with content*/
@media screen and (min-width: 1200px) {
  body, #root, #container{
    height: 100vh;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/*--------------------------HEADER*/
header img{
  max-width: 100%;
  height: 5vh;
}

/*--------------------------NAV*/
nav li {
  display: block;
  position: relative;
  text-align: center;
  padding: 0 1vh;
  text-transform: uppercase;
}

nav .textLien {
  color: var(--brightGrey);
  margin-bottom: -15px;
  transition: color 100ms;
}

nav .textLien:hover {
  color: var(--white);
}

.active{
  color: var(--white);
}

/*--------------------------FOOTER*/

footer span{
    font-family: 'starjedi';
}

/*--------------------------HOME*/

.btn-home, .btn-list{
  background-color: transparent;
  color: var(--white);
  font-weight: normal;
  border: none;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.btn-home:hover, .btn-list:hover{
  color: var(--yellow);
  font-weight: bold;
}

/*---Pictures corresponding to the categories*/
.heightCat {
  height: 20vh;
}

.imgCat{
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  opacity: 0.5;
}

.people{
  background-image: url('img/people.png');
}

.planets{
  background-image: url('img/planets.png');
}

.films{
  background-image: url('img/films.png');
}

.species{
  background-image: url('img/species.png');
}

.vehicles{
  background-image: url('img/vehicles.png');
}

.starships{
  background-image: url('img/spaceships.png');
}
/*---Pictures corresponding to the categories*/